.App {
  text-align: center;
}


.add_message_btn{
  top: 10px;
    left: 10px;
}


.join_group_btn{
  top: 10px;
  left: 10px;
}

.or{
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.groupNames{
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  float: center;
}

.open_grp_btn{
  width: 100%;
}

.remove{
  align-items: right;
}

.back{
  min-height: 2vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  text-align: center;
  float: left;
}

.group-info-name{
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.group-info-id{
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.groupNames-text{
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}